{% extends 'base.twig' %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">mailcow</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img class="img-responsive" alt="mailcow-logo" src="{{ logo|default('/img/cow_mailcow.svg') }}" style="width: 100px;">
          <canvas id="chartDiskSpace" style="margin-top: 30px;"></canvas>
          <div class="progress" style="margin-bottom: 0 !important;">
            <div class="progress-bar progress-bar-info vmail-progress" role="progressbar" style="width:0%"></div>
          </div>
          <p><i class="bi bi-hdd-fill"></i><span class="vmail-path"> /</span></p>
          <p class="vmail-details">0 / 0 (0)</p>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="table-responsive" style="margin-top: 10px;">
            <table class="table table-striped table-condensed">
              <tbody>
                <tr>
                  <td>Hostname</td>
                  <td><div>
                    <p><b>{{ hostname }}</b></p>
                  </div></td>
                </tr>
                <tr>
                  <td>Version</td>
                  <td><div>
                    <p><b>{{ mailcow_info.version_tag }}</b></p>
                    <p id="mailcow_update"></p> 
                  </div></td>
                </tr>
                <tr>
                  <td>Changelog</td>
                  <td><a href="{{ mailcow_info.git_project_url }}/releases/tag/{{ mailcow_info.version_tag }}" target="_blank">
                    {{ mailcow_info.git_project_url }}/releases/tag/{{ mailcow_info.version_tag }}
                  </a></td>
                </tr>
                <tr>
                  <td>Current Date/Time</td>
                  <td id="host_date">N/A</td>
                </tr>
                <tr>
                  <td>Timezone</td>
                  <td>{{ timezone }}</td>
                </tr>
                <tr>
                  <td>Uptime</td>
                  <td id="host_uptime">N/A</td>
                </tr>
                <tr>
                  <td>CPU</td>
                  <td>
                    Cores <span id="host_cpu_cores">N/A</span><br />
                    Usage <span id="host_cpu_usage"></span>
                  </td>
                </tr>
                <tr>
                  <td>Memory</td>
                  <td>
                    Total <span id="host_memory_total">N/A</span><br />
                    Usage <span id="host_memory_usage"></span>
                  </td>
                </tr>
                <tr>
                  <td>CLAMD</td>
                  <td>{{ skip_clamd_status }}</td>
                </tr>
                <tr>
                  <td>SOGO</td>
                  <td>{{ skip_sogo_status }}</td>
                </tr>
                <tr>
                  <td>XAPIAN</td>
                  <td>{{ skip_xapian_status }}</td>
                </tr>
                <tr>
                  <td>ALLOW_ADMIN_EMAIL_LOGIN</td>
                  <td>{{ allow_admin_email_login_status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12">
          <legend style="margin-top:40px">{{ lang.admin.guid_and_license }}</legend>
          <div>
            <form class="form-horizontal" autocapitalize="none" autocorrect="off" role="form" method="post">
              <div class="form-group">
                <label class="control-label col-sm-3" for="guid">{{ lang.admin.guid }}:</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="bi bi-suit-heart{% if gal.valid == true %}-fill text-danger{% endif %}"></i>
                    </span>
                    <input type="text" id="guid" class="form-control" value="{{ license_guid }}" readonly>
                  </div>
                  <p class="help-block">
                    {{ lang.admin.customer_id }}: {{ gal.c|default('?')|raw }} -
                    {{ lang.admin.service_id }}: {{ gal.s|default('?')|raw }} -
                    {{ lang.admin.sal_level }}: {{ gal.m|default('?')|raw }}
                  </p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <p class="help-block">{{ lang.admin.license_info|raw }}</p>
                  <div class="btn-group">
                    <button class="btn btn-sm visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline btn-success" name="license_validate_now" type="submit" href="#">{{ lang.admin.validate_license_now }}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-12">
          <button class="btn btn-primary" onClick="ftsRescan()">FTS Rescan</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ lang.dashboard.xapian_status }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <p><img class="img-responsive" alt="Dovecot Logo" width="128px" src="img/dovecot_logo.png" /></p>
          <p><img class="img-responsive" alt="Xapian Logo" width="128px" src="img/xapian_logo.png" /></p>
        </div>
        <div class="col-sm-9">
          {% if xapian_status != false %}
          
          {% else %}
            <p>{{ lang.dashboard.xapian_dead }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <script type='text/javascript'>
    var lang = {{ lang_dashboard|raw }};
    var csrf_token = '{{ csrf_token }}';
    var pagination_size = '{{ pagination_size }}';
  </script>
{% endblock %}